## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it.

Double Click HERE to edit this markdown cell and write answers.

Numbers: int and float

Strings: A sequence of characters

Lists: An ordered mutable collection of elements

Tuples: An ordered immutable collection of elements

Dictionaries: Unordered collection of elements with key pairs

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
num = (100.25 * 1) + (100.25/1) - (100.25**1)
print(num)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [5]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> Float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Square root: 64
import math
math.sqrt(64)

8.0

In [16]:
# Square:
8**2

64

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [18]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [20]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [26]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [28]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [40]:
# Method 1:
s = [0,0,0]
s

[0, 0, 0]

In [38]:
# Method 2:
s = [0 for i in range(3)]
s

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [42]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [44]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [54]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [58]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [70]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [72]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
No, they are unordered key pair lists

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable
lists are mutable

How do you create a tuple?<br><br>
tut = (1,2,3)

## Sets

What is unique about a set?<br><br>
Sets can only have one unique value for each data type

Use a set to find the unique values of the list below:

In [80]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set5 = set() 
[set5.add(i) for i in list5]
set5

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [100]:
# Answer before running cell
2 > 3
#False

False

In [102]:
# Answer before running cell
3 <= 2
#False

False

In [104]:
# Answer before running cell
3 == 2.0
#False

False

In [106]:
# Answer before running cell
3.0 == 3
#True

True

In [108]:
# Answer before running cell
4**0.5 != 2
#False

False

Final Question: What is the boolean output of the cell block below?

In [111]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#False

False